body {
    padding-top: 70px;
    background-color: #eeeeee;
    width: 98%;
}

#face {
    font-size: 110pt;
    font-family: "trebuchet MS", Verdana, sans-serif;
}

#description {
    font-size: 20pt;
    font-family: "trebuchet MS", Verdana, sans-serif;
    margin-left: 10px;
}

#guide {
    font-size: 12pt;
    font-family: "trebuchet MS", Verdana, sans-serif;
    margin-left: 10px;
}

th {
    background-color: white;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.panel-footer {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.center_div {
    margin: 0 auto;
    width: 80%
}

#footer{
    text-align: center;
    position: absolute;
    bottom: 0; left: 0; right: 0
}

#imageAccueil{
    display: block;
    margin-left: auto;
    margin-right: auto
}